body
{ background-color:#f5f0e1;
font-size:30px;
margin bttom:100px;
}
h1
{color:#4b2e2e;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

}
h3
{ text-align:center;
 
  font-weight: 200;
  font-style: normal;

}

footer
{ color:#fff;
  font-size:20px;
  background:#4b2e2e;
 text-align:center;
}

.first{
font-size:40px;
}
p
{
 color:black;
}
a{
color:#795548;
text-decoration:none;
}
a:hover{
color:#970747;
text-decoration:none;
}



#highlightt{
background:beigeS;
font-style:italic;
}
img{
border-radius: 50%;
}
h1{ text-align: center;}


.menu
{
 list-style-type:none;
 padding:0;
display:flex;
justify-content:center;
font-weight:500;
}
.menu li
{ 
display:inline-block;
}
.menu img{
max-width:100px;
max-height:120px;
margin:20px;
padding:20px;
}
.footer
{
 list-style-type:none;
 padding:0;
 bottom:0;


}
.footer li
{ 
display:inline-block;
}



.top
{
 list-style-type:none;
 padding:0;
}
.top li
{ 
display:inline-block;
}
.top img
{
 max-width:50px;
height:50px;
}

 .filtercoffee li section,
.frappe li section,
.herbaltea li section,
.cappuccino li section,
.latte li section,
.americano li section,
.mocha li section,
.black-coffee li section{
background:;
width:300px;
font-size:20px;
font-style:aerial;

border-bottom:2px inset #d3d4d6;
margin:20px;


}
 .filtercoffee ul,
.frappe ul,
.herbaltea ul,
.cappuccino ul,
.latte ul,
.americano ul,
.mocha ul,
.black-coffee ul  {
      list-style-type: none;
      padding: 0;
    }

.filtercoffee li,
.frappe li,
.herbaltea li,
.cappuccino li,
.latte li,
.americano li,
.mocha li,
.black-coffee li  {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px; 
    }

    section {
      text-align: left;
      
      
    }

    img {
      width: 300px;
      height: 300px;
    }
h3{
text-align:center;
 color:#2c5f2d;}

.top-items{text-align:center;
border:1px  white;
border-bottom:2px inset #d3d4d6;
padding:10px;
flex:1 1 auto;
flex-direction: row;
}
.top{
display:flex;
flex-direction: row;}

 h5 {text-align:justify;
  font-family: "Lateef", serif;
  font-weight: 500;
  font-style: normal;
}












[





